{% extends 'blogs/base.html' %}

{% block content %}
    <div class="module">
        <table style="width:100%;">
            <caption>All Posts</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><strong>{{ post.title }}</strong><br>{{ post.text }}</td>
                        <td>{{ post.author.username }}</td>
                        <td>{{ post.date_added|date:"M d, Y H:i" }}</td>
                        <td>
                            {% if user == post.author %}
                                <a href="{% url 'edit_post' post.pk %}" class="changelink">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No posts yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}